.custom-scroll-container, .custom-scroll-textarea {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
    scrollbar-gutter: stable;
    @apply rounded-lg overflow-auto;
}

.custom-scroll-container::-webkit-scrollbar,
.custom-scroll-textarea::-webkit-scrollbar {
    @apply w-[10px] h-[10px];
}

.custom-scroll-container::-webkit-scrollbar-track,
.custom-scroll-textarea::-webkit-scrollbar-track {
    @apply bg-transparent mx-[3px];
}

.custom-scroll-container::-webkit-scrollbar-thumb,
.custom-scroll-textarea::-webkit-scrollbar-thumb {
    @apply bg-gray-400/50 rounded-[5px] border-2 border-transparent bg-clip-content;
}

.custom-scroll-container::-webkit-scrollbar-thumb:hover,
.custom-scroll-textarea::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400/70;
}

.dark .custom-scroll-container,
.dark .custom-scroll-textarea {
    scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
}

.dark .custom-scroll-container::-webkit-scrollbar-thumb,
.dark .custom-scroll-textarea::-webkit-scrollbar-thumb {
    @apply bg-gray-600/50;
}

.dark .custom-scroll-container::-webkit-scrollbar-thumb:hover,
.dark .custom-scroll-textarea::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600/70;
}

@supports (-moz-appearance: none) {
    .custom-scroll-container {
        clip-path: inset(0 0 0 0 round 0.5rem);
    }

    .custom-scroll-container,
    .custom-scroll-textarea {
        scrollbar-color: rgba(156, 163, 175, 0.2) transparent;
    }

    .dark .custom-scroll-container,
    .dark .custom-scroll-textarea {
        scrollbar-color: rgba(75, 85, 99, 0.2) transparent;
    }
}
